/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Titan+One&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    
        /*========== Colors ==========*/
        /*Color mode HSL(hue, saturation, lightness)*/
        --first-color: hsl(0, 90%, 34%);
        --first-color-dark: hsl(0, 100%, 28%);
        --first-color-darken: hsl(0, 100%, 23%);
        --second-color: hsl(0, 8%, 29%);
        --second-color-dark: hsl(0, 13%, 30%);
        --white-color: hsl(0, 0%, 100%);
        --black-color: hsl(0,0,0);
        --shadow-img: drop-shadow(0 12px 24px hsla(0, 0%, 0%, .4));
        --shadow-circle: 0 12px 24px hsla(0, 0%, 0%, .4);
        --shadow-button: 0 -4px 8px hsla(0, 0%, 0%, .3);
        --shadow-card: 0 -8px 24px hsla(0, 0%, 0%, .3);
        --shadow-text: 0 2px 4px var(--first-color-darken);
        --white: #ffffff;
        --offWhite: #f5f5f5;
        --gray: #3a3a3c;
        --black: #000000;
    
        --red: #ed1c24;
        --gold: #ffd700;
        /* colors 
        White (#FFFFFF)
        black (#000000)
        Gray (#3A3A3C)
        Red (#ED1C24 - #FE0000)
        Gold  (#FFD700)
    */

        /*========== Font and typography ==========*/
        /*.5rem = 8px | 1rem = 16px ...*/
        --body-font: "Poppins", sans-serif;
        --second-font: "Titan One", sans-serif;
        --biggest-font-size: 3.5rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
    
        /*========== Font weight ==========*/
        --font-regular: 400;
        --font-semi-bold: 600;
    
        /*========== z index ==========*/
        --z-tooltip: 10;
        --z-fixed: 100;
    }
    
    /*========== Responsive typography ==========*/
    @media screen and (min-width: 1150px) {
        :root {
        --biggest-font-size: 5.5rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        }
    }
    
    /*=============== BASE ===============*/
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        background-color: var(--white-color);
        color: var(--black-color);
        /* background: url('../Images/website\ pattern-03.svg') no-repeat center center fixed;
        background-size: cover; */
    }

    ul {
        list-style: none;
        
    }
    
    li{
        display: inline;
        margin-left: 1em;
    }

    a {
        color: black;
        text-decoration: none;
    }
    
    /* img {
        display: block;
        max-width: 100%;
        height: auto;
    } */


/*========== REUSABLE CSS CLASSES ==========*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    font: var(--font-regular) var(--h1-font-size) var(--second-font);
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: var(--shadow-text);
}

/* .main {
    overflow: hidden;
} */

/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
} */


/* =============header ============*/
header{
    position: relative;
    z-index: 2;
    width: 100%;
    padding-bottom: 20px;
    /* background: rgba(38, 37, 37, 0.815); */
    background-image: url(../Img/4152.png);
    background-size: cover;
}

nav{
    width: 100%;
    /* padding: 0 20px; */
    background-color: #fff;
}
nav div .nav-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img{
    height: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-links li{
    margin: 0;
}

.nav-links li a{
    color: #242323;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
}

.nav-links li a:hover{
    /* background: #e91e63; */
    color: #a33131;
    /* border-radius: 5px; */
    /* border-right: 1.5px solid #a33131; */
}


nav input{
    padding: .5em 1.5em;
    margin-right: .4em;
    border: none;
    border-radius: 27em;
    font-weight: 600;
    background-color: white;
    color:rgb(197, 22, 22);
    border: rgba(212, 60, 60, 0.39) solid 0.3px;
    /* box-shadow: rgba(128, 128, 128, 0.699) 1px 1px 5px ; */
}

nav input:hover{
    color: white;
    background-image:repeating-linear-gradient(to right,rgba(197, 22, 22, 0.822),rgb(143, 95, 95));
    
}

.landing {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    text-align: center;
    padding: 40px 0;
    height: 400px;
}

.landing-text {
    margin-top: 20px;
    text-align: left;
    padding: 0 20px;
}

.landing-text h1 {
    font-size: 56px;
    margin: 0;
    width: 50%;
    padding-left: 50px;
}

@media (min-width: 768px) {
    .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav ul {
        gap: 20px;
    }

    .landing {
        /* background-image: url(../Images/4152.png); */
        flex-direction: row;
        justify-content: space-between;
        /* text-align: left; */
    }
    .landing-image img{
        height: 350px;
    }
    .landing-image, .landing-text {
        flex: 1;
        margin: 0 20px;
    }
    .landing-text {
        margin-top: 0;
        padding: 0;
    }
}

/* ======Partners===== */
.partners_logos h1{
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0 20px 0;
    color: #222;
}

@keyframes slides {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
overflow: hidden;
padding: 30px 0px;
white-space: nowrap;
position: relative;
}

.logos:before, .logos:after {
position: absolute;
top: 0;
content: '';
width: 250px;
height: 100%;
z-index: 2;
}

.logos:before {
left: 0;
background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
}

.logos:after {
right: 0;
background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
}

.logo_items {
display: inline-block;
animation: 35s slides infinite linear;
}

.logos:hover .logo_items {
animation-play-state: paused;
}

.logo_items img{
    height: 100px;
    margin-right: 30px;
    margin-left: 30px;
}

/* ================================== */

/* =============Insights================ */
#insights{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

.insights-section {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

.content {
    max-width: 1000px;
    margin: auto;
}

.text h1 {
    font-size: 2.5em;
    margin: 0 0 20px 0;
    color: #222;
}

.text p {
    font-size: 1.2em;
    margin: 0 0 40px 0;
    color: #666;
    line-height: 1.6;
}

.counters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.counter {
    flex: 1 1 calc(16% - 10px);
    margin: 10px 5px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
}

.counter:hover {
    transform: translateY(-10px);
}

.counter h2 {
    font-size: 2.5em;
    margin: 0;
    color: #e52222;
    display: inline;
}

.counter p {
    font-size: 1.2em;
    margin: 10px 0 0 0;
    color: #555;
}

@media (max-width: 768px) {
    .counter {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .counter {
        flex: 1 1 100%;
    }
}


/* * DIVIDER * */

.roadmap {
    padding: 60px 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    gap: 15ch;
  }
  .roadmap__title {
    color: var(--red);
    font-size: 2rem;
    /* text-align: center; */
  }
  
  .roadmap__container {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    padding: 20px 0;
  }
  
  .roadmap__container__content {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  .roadmap__container__content__line {
    position: absolute;
    left: 50%;
    top: 0%;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--gray);
    transform: translateX(-50%);
  }
  .roadmap__container__content__road {
    position: relative;
    text-align: center;
  }
  
  .roadmap__container__content__road_circle {
    position: absolute;
    top: 0; /* Adjust based on actual size */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--red);
  }
  
  .roadmap__container__content__text,
  .roadmap__container__content__road__text {
    margin-top: 30px; /* Adjust based on circle size and desired spacing */
  }
  .roadmap__container__content__road__text__description {
    color: var(--black);
    font-size: 3ch;
  }
  

/* =============Footer======== */
footer{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
}

.footer-column h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.footer-column p, .footer-column ul {
    font-size: 1em;
    margin: 0;
    line-height: 1.6;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-links a {
    /* display: inline-block; */
    margin-right: 10px;
    color: #fff;
    font-size: 1.5em;
}

.social-links a:hover {
    color: #007bff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 1em;
    color: #bbb;
}

@media (max-width: 768px) {
    .footer-column {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .footer-column {
        flex: 1 1 100%;
    }
}
/* ===End Footer===== */

