body {
    /* color: #000 !important; */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  form {
    width: 60%;
    color: darkslategray;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }

  #main {
    background-color: #fff;
    color: #76281b;
    width: 100%;
    /* max-width: 600px; */
    /* margin: 0 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
  }

  div.main {
    width: 60%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }


  input,
  textarea {
    width: 90%;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  button {
    background-color: #c50909;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #76281b;
  }


/* ===========Footer============= */
footer{
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1 1 calc(25% - 20px);
  margin: 10px;
}

.footer-column h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-column p, .footer-column ul {
  font-size: 1em;
  margin: 0;
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  font-size: 1.5em;
}

.social-links a:hover {
  color: #007bff;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 1em;
  color: #bbb;
}

@media (max-width: 768px) {
  .footer-column {
      flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .footer-column {
      flex: 1 1 100%;
  }
}
/* ============End Footer============ */
